

ErrorDocument 404 "files.000webhost.com/view/page_error/error_404.php"
# HTID:5253428: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
php_value display_errors 1
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:5253428:
